
<div class="card mb-4">
  <div class="card-body">
    <h4>{{ data?.title}}</h4>
    <p>{{ data?.description }}</p>
    <p>lat {{ data?.lat }}</p>
    <p>lng {{ data?.lng }}</p>

    <div class="row">
      <div class="col">
        <button *ngIf="idCompleted" class="btn btn-sm btn-success w-100">Completada</button>
        <button *ngIf="!idCompleted" class="btn btn-sm btn-primary w-100" (click)="onComplete()">Completar</button>
      </div>
      <div class="col">
        <button class="btn btn-sm btn-warning w-100" (click)="onDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
